In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pytz import timezone

# Start the spark context
sc = SparkContext.getOrCreate() 
sc.setLogLevel("WARN")
spark = SparkSession.builder.getOrCreate()

21/08/08 01:04:23 WARN Utils: Your hostname, DESKTOP-GN6J0KT resolves to a loopback address: 127.0.1.1; using 172.20.85.183 instead (on interface eth0)
21/08/08 01:04:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
21/08/08 01:04:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
from pyspark.sql import SparkSession
import warnings
warnings.filterwarnings("ignore")

# create a spark session (which will run spark jobs)
spark = SparkSession.builder.getOrCreate()
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

In [3]:
import pandas as pd
import time
import datetime

data_dir = "/mnt/e/2021/Applied Data Science/Project 1/Data/"
file = "green_tripdata_2020-04.csv"


df = pd.read_csv(data_dir+file)
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-04-01 00:44:02,2020-04-01 00:52:23,N,1.0,42,41,1.0,1.68,8.00,0.5,0.5,0.0,0.00,NaN,0.3,9.30,1.0,1.0,0.0
1,2.0,2020-04-01 00:24:39,2020-04-01 00:33:06,N,1.0,244,247,2.0,1.94,9.00,0.5,0.5,0.0,0.00,NaN,0.3,10.30,2.0,1.0,0.0
2,2.0,2020-04-01 00:45:06,2020-04-01 00:51:13,N,1.0,244,243,3.0,1.00,6.50,0.5,0.5,0.0,0.00,NaN,0.3,7.80,2.0,1.0,0.0
3,2.0,2020-04-01 00:45:06,2020-04-01 01:04:39,N,1.0,244,243,2.0,2.81,12.00,0.5,0.5,0.0,0.00,NaN,0.3,13.30,2.0,1.0,0.0
4,2.0,2020-04-01 00:00:23,2020-04-01 00:16:13,N,1.0,75,169,1.0,6.79,21.00,0.5,0.5,0.0,0.00,NaN,0.3,22.30,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35607,NaN,2020-04-30 23:29:00,2020-04-30 23:57:00,NaN,NaN,37,147,NaN,11.41,35.82,0.0,0.0,0.0,6.12,NaN,0.3,42.24,NaN,NaN,NaN
35608,NaN,2020-04-30 23:11:00,2020-04-30 23:47:00,NaN,NaN,188,230,NaN,11.17,35.45,0.0,0.0,0.0,0.00,NaN,0.3,38.50,NaN,NaN,NaN
35609,NaN,2020-04-30 23:18:00,2020-04-30 23:46:00,NaN,NaN,205,37,NaN,14.37,34.54,0.0,0.0,0.0,0.00,NaN,0.3,34.84,NaN,NaN,NaN
35610,NaN,2020-04-30 23:55:00,2020-05-01 00:10:00,NaN,NaN,37,188,NaN,4.25,16.72,0.0,0.0,0.0,0.00,NaN,0.3,17.02,NaN,NaN,NaN
35611,NaN,2020-04-30 23:01:00,2020-04-30 23:02:00,NaN,NaN,185,185,NaN,0.01,23.17,0.0,0.0,0.0,0.00,NaN,0.3,23.47,NaN,NaN,NaN

In [13]:
df.loc[
    (df['PULocationID'] == 42) &
    (df['DOLocationID'] == 41) &
    (df["passenger_count"] > 0)
    ]['trip_distance'].values

array([1.68, 1.74, 1.25, 0.86, 1.19, 1.77, 1.85, 1.02, 1.25, 1.14, 1.32,
       1.5 , 0.88, 1.  , 1.22, 1.36, 0.34, 0.83, 0.83, 0.34, 0.99, 0.79,
       1.61, 0.78, 1.34, 1.07, 1.6 , 1.86, 0.78, 0.64, 1.4 , 0.7 , 1.1 ,
       1.4 , 1.4 , 0.95, 1.2 , 1.07, 1.95, 1.59, 1.79, 1.01, 0.99, 0.47,
       1.14, 0.71, 1.28, 0.82, 0.85, 1.07, 0.33, 1.23, 0.43, 1.22, 1.82,
       0.9 , 1.24, 0.6 , 1.24, 1.37, 1.35, 0.7 , 0.92, 1.3 , 1.07, 0.95,
       1.41, 1.2 , 1.14, 0.93, 0.9 , 1.8 , 1.3 , 1.02, 1.69, 0.9 , 1.64,
       1.03, 1.32, 2.04, 1.23, 1.07, 1.11, 1.16, 0.76, 0.62, 0.39, 1.26,
       1.2 , 0.79, 0.76, 1.2 , 1.6 , 0.7 , 1.  , 0.63, 1.14, 0.76, 1.53,
       1.06, 0.89, 0.83, 1.38, 0.86, 1.26, 1.55, 0.87, 0.99, 1.  , 1.68,
       0.95, 0.92, 0.87, 0.43, 1.52, 1.54, 1.11, 0.32, 1.18, 1.44, 1.41,
       1.39, 0.91, 0.71, 1.2 , 0.88, 1.18, 1.2 , 1.08, 0.64, 1.68, 1.3 ,
       1.1 , 0.62, 1.47, 0.44, 1.11, 0.88, 1.36, 1.44, 1.77, 0.9 , 0.82,
       1.25, 0.78, 1.14, 1.04, 0.45, 1.06, 1.  , 0.72, 0.89, 0.45, 1.54,
       1.13, 0.94, 1.  , 1.07, 1.19, 0.64, 1.33, 2.49, 0.87, 0.96, 1.37,
       1.4 , 1.21, 1.2 , 1.46, 2.  , 1.71, 1.45, 1.06, 1.75, 1.21, 0.61,
       1.01, 1.75, 1.18, 0.83, 1.61, 2.  , 0.57, 1.06, 1.69, 1.18, 1.36,
       0.55, 1.08, 1.19, 0.98, 0.87, 0.66, 1.27, 0.65, 1.21, 1.73, 0.46,
       1.28, 0.17, 1.56, 0.35, 0.63, 1.5 , 1.76, 1.1 , 1.65, 1.  , 1.18,
       1.4 , 0.77, 1.45, 0.83, 1.1 , 1.43, 1.97, 0.26, 0.89, 1.53, 1.36,
       0.5 , 0.74, 1.57, 0.99, 1.9 , 1.05, 1.06, 1.07, 1.03, 1.32, 0.99,
       0.61, 0.83, 0.94, 0.97, 0.92, 0.93, 1.58, 1.79, 0.57, 1.22, 1.48,
       0.75, 0.75, 1.02, 0.45, 1.58, 0.59, 1.56, 0.56, 0.96, 0.99, 1.2 ,
       1.28, 1.09, 1.68, 1.6 , 1.92, 1.5 , 1.6 , 0.71, 1.65, 0.74, 0.74,
       0.89, 1.88, 0.69, 0.95, 1.09, 1.8 , 1.35, 0.3 , 0.83, 0.58])

In [ ]:
#df.info()

tz = timezone("America/New_York")

s = "2020-04-01 00:00:00"



t1 = (datetime.datetime.strptime(s, "%Y-%m-%d %H:%M:%S"))
t2 = t1.astimezone(tz)
t3 = t1.replace(tzinfo = tz)
t4 = tz.localize(t1)
print(t1)
print(t2)
print(t3)
print(t4)
print(time.mktime(t1.timetuple()))
print(time.mktime(t2.timetuple()))
print(time.mktime(t3.timetuple()))
print(time.mktime(t4.timetuple()))

#print((datetime.datetime.strptime(s, "%d/%m/%Y")).replace(tzinfo = tz).tzinfo)
#print(time.mktime(datetime.datetime.strptime(s, "%d/%m/%Y").replace(tzinfo = tz).timetuple()))
#
#print(df.iloc[3,2])
#print(time.mktime(datetime.datetime.strptime(df.iloc[3,2], "%Y-%m-%d %H:%M:%S").replace(tzinfo = tz).timetuple()))
#
len(df)

s = "2020-04-01 00:00:00"



s = "2020-04-01 15:00:00"
t1 = (datetime.datetime.strptime(s, "%Y-%m-%d %H:%M:%S"))
print(t1)
print(time.mktime(t1.timetuple()))

In [ ]:
df.iloc[3,2]

In [52]:
data_dir = "/mnt/e/2021/Applied Data Science/Project 1/Data/"
file = "covid_restrictions.csv"

df = pd.read_csv(data_dir+file)
df.columns
print(df["date"])

print(datetime.datetime.fromtimestamp(df["date"][0]))
print(datetime.datetime.fromtimestamp(1617109200))

0      1577797200
1      1577883600
2      1577970000
3      1578056400
4      1578142800
          ...
451    1616763600
452    1616850000
453    1616936400
454    1617022800
455    1617109200
Name: date, Length: 456, dtype: int64
2020-01-01 00:00:00
2021-03-31 00:00:00

In [141]:
covid_restrictions

NameError: name 'covid_restrictions' is not defined

0      False
1      False
2      False
3      False
4      False
       ...
507    False
508    False
509    False
510    False
511    False
Name: date_of_interest, Length: 512, dtype: bool

In [65]:
#(year, taxi_i, week, dayow, borough, part_of_day)
day = 32
covid_started = [2,2020]
datetimeO = datetime.datetime.strptime( " ".join( [str(int) for int in [day, covid_started[1]]]) ,"%j %Y" )
#    dayow = int(datetimeO.__format__("%w"))
#    week = int(datetimeO.__format__("%U"))

#datetime.datetime.strptime(" ".join( [str(int) for int in []]), "%j %Y")
df["date"] == int(datetime.datetime.timestamp(datetimeO))
print(int(datetime.datetime.timestamp(datetimeO)))

list1 = []
list1.extend(df.loc[df["date"] == int(datetime.datetime.timestamp(datetimeO))].drop("date", axis=1).values[0])
list1

1580475600

[1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 500.0,
 1.0,
 1.0,
 100000.0,
 1.0,
 0.0]

In [132]:
covid_cases_file = "COVID-19_Daily_Counts_of_Cases__Hospitalizations__and_Deaths.csv"
covid_cases = pd.read_csv(data_dir + covid_cases_file)

covid_cases.columns = covid_cases.columns.str.lower()
covid_cases['date_of_interest'] = covid_cases['date_of_interest'].transform(lambda x: datetime.datetime.strptime(x, "%m/%d/%Y"))
#covid_cases['date_of_interest_unix'] = covid_cases['date_of_interest2'].transform(lambda x: datetime.datetime.timestamp(x))

#'hosp_count_7day_avg' => 'hospitalized_count_7day_avg'
#'death_count_probable' => 'probable_death_count'
covid_cases['probable_death_count'] = covid_cases['death_count_probable']
covid_cases['hospitalized_count_7day_avg'] = covid_cases['hosp_count_7day_avg']
covid_cases.drop(['death_count_probable','hosp_count_7day_avg'],axis=1)

#print(covid_cases.columns)
#covid_cases.loc[covid_cases["incomplete"] > 0]["incomplete"].values

covid_of_interest = ['case_count', 'probable_case_count','hospitalized_count', 'death_count', 'probable_death_count',
       'case_count_7day_avg', 'all_case_count_7day_avg', 'hospitalized_count_7day_avg',
       'death_count_7day_avg', 'all_death_count_7day_avg']


covid_boroughs =["bx","bk","mn","qn","si"]
#datetime.datetime.strptime(covid_cases['date_of_interest'].values[0], "%m/%d/%Y")


covid_cases

,date_of_interest,case_count,probable_case_count,hospitalized_count,death_count,death_count_probable,case_count_7day_avg,all_case_count_7day_avg,hosp_count_7day_avg,death_count_7day_avg,...,si_death_count,si_probable_death_count,si_case_count_7day_avg,si_all_case_count_7day_avg,si_hospitalized_count_7day_avg,si_death_count_7day_avg,si_all_death_count_7day_avg,incomplete,probable_death_count,hospitalized_count_7day_avg
0,2020-02-29,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-03-01,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-03-02,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-03-03,1,0,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-03-04,5,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,2021-07-20,654,239,44,3,1,535,743,36,4,...,0,0,53,65,2,0,0,11000,1,36
508,2021-07-21,801,270,31,0,2,573,791,35,3,...,0,0,55,69,3,0,0,11000,2,35
509,2021-07-22,855,343,30,2,0,619,854,35,3,...,1,0,58,75,3,0,0,11000,0,35
510,2021-07-23,734,300,28,3,0,646,901,35,3,...,0,0,56,75,3,0,0,11000,0,35
511,2021-07-24,380,242,14,2,1,653,922,32,2,...,0,0,57,79,2,0,0,11000,1,32

In [140]:

datetimeO = datetime.datetime.strptime( " ".join( [str(int) for int in [100, 2020]]) ,"%j %Y" )

a = int(datetime.datetime.timestamp(datetimeO))

#covid_cases['date_of_interest'].transform(lambda x: datetime.datetime.timestamp(x)).values == a)
    
print(a)

list1 = []
vals = covid_cases.loc[covid_cases['date_of_interest'] == datetimeO][covid_of_interest].values
if(vals.any()):
    list1.extend(vals[0])
else:
    list1.extend([0] * len(covid_of_interest))
list1

1577797200

AttributeError: 'numpy.ndarray' object has no attribute 'append'

In [134]:
borough = 1
list1 = []
vals = covid_cases.loc[covid_cases['date_of_interest'] == datetimeO][
    [covid_boroughs[borough] + "_" + suffix 
     for suffix in covid_of_interest]]\
    .values
if(vals.any()):
    list1.extend(vals[0])
else:
    list1.extend([0] * len(covid_of_interest))
list1

[1370, 71, 407, 188, 71, 1291, 1364, 424, 169, 241]

In [ ]:
test = []

for i in range(0,len(df)):
    test.append(i)
    
test

In [ ]:
pu_unix = []
do_unix = []

for i in range(0,len(df)):
    pu_unix.append(time.mktime(datetime.datetime.strptime(df.iloc[i,1], "%Y-%m-%d %H:%M:%S").timetuple()))
    do_unix.append(time.mktime(datetime.datetime.strptime(df.iloc[i,2], "%Y-%m-%d %H:%M:%S").timetuple()))

df['do_unix']=do_unix
df['pu_unix']=pu_unix

In [ ]:
covid_started = [2,2020]

In [4]:
#███████ ██████   █████  ██████  ██   ██ 
#██      ██   ██ ██   ██ ██   ██ ██  ██  
#███████ ██████  ███████ ██████  █████   
#     ██ ██      ██   ██ ██   ██ ██  ██  
#███████ ██      ██   ██ ██   ██ ██   ██ 
#


import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.functions import col


file = "fhvhv_tripdata_2019-05.csv"
sdf = (spark.read.format("csv").options(header="true").load(data_dir+file))



sdf.filter(col("PULocationID") == 1).limit(5)

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0004|              B02800|2019-05-01 00:39:31|2019-05-01 01:03:32|           1|         231|   null|
|           HV0004|              B02800|2019-05-01 01:54:49|2019-05-01 02:38:49|           1|          62|   null|
|           HV0004|              B02800|2019-05-01 03:13:13|2019-05-01 03:42:45|           1|          88|   null|
|           HV0004|              B02800|2019-05-01 05:20:09|2019-05-01 05:41:08|           1|         231|   null|
|           HV0004|              B02800|2019-05-01 05:42:31|2019-05-01 06:40:19|           1|          41|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+

In [7]:
pdf = sdf.groupBy("DOLocationID","PULocationID","dispatching_base_num").count().toPandas()

21/08/08 00:01:43 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
21/08/08 00:01:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
21/08/08 00:01:45 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
21/08/08 00:01:45 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
21/08/08 00:01:45 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
21/08/08 00:01:45 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
21/08/08 00:01:46 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
21/08/08 00:01:46 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
21/08/08 00:01:56 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
21/08/08 00:01:58 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
21/08/08 00:01:59 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
21/08/08 00:02:01 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
21/08/08 00:02:01 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
21/08/08 00:02:01 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
21/08/08 00:02:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
21/08/08 00:02:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

In [10]:
pdf

       DOLocationID PULocationID dispatching_base_num  count
0                69          116               B02875    124
1               102          102               B02876    100
2               265          114               B02888    138
3                97           88               B02836      6
4               148          255               B02866    112
...             ...          ...                  ...    ...
970070          173          101               B02877      1
970071           23           90               B02870      1
970072          137          223               B02865      1
970073          119          200               B03035      1
970074           98           33               B03035      1

[970075 rows x 4 columns]

In [16]:
pdf.loc[
            (pdf["DOLocationID"] == "69") &
            (pdf["PULocationID"] == "116")
        ]['count'].values

array([124,  34,  60,  18,  27,  26,  65,  77,  25,   4,  20,  53,  78,
       102,  35,  26,  39,  28,  45,  30,  41, 201, 120,  11,  35,  31,
        74,  32, 195,  81,  32])

In [15]:
pdf.loc[
            (pdf["DOLocationID"] == "69") &
            (pdf["PULocationID"] == "116")
        ]['count'].values.sum()

1769

In [18]:
pdf.loc[
            (pdf["DOLocationID"] == "69") &
            (pdf["PULocationID"] == 1)
        ]['count'].values.sum()

0

In [1]:
#location of the location id file
location_file = "taxi+_zone_lookup.csv"

#list of boroughs names as in the location file
boroughs = ["Bronx","Brooklyn","Manhattan","Queens","Staten Island","EWR","Unknown"]

#list of boroughs as named in the covid file (same order)
covid_boroughs =["bx","bk","mn","qn","si"]


#reads the location id file
borough_codes = pd.read_csv(data_dir + location_file)

#finds the 'id' for each location interms of the 5 boroughs
codes = []
for index, row in borough_codes.iterrows():
    codes.append(boroughs.index(row["Borough"]))

#adds said list to the dataframe    
borough_codes['Borough_code'] = pd.Series(codes, index = borough_codes.index)



print(borough_codes)
borough_codes.loc[borough_codes["LocationID"]==100]["Borough_code"].values[0]



#function for adding binned location

NameError: name 'pd' is not defined

In [ ]:


@F.udf("int")
def find_borough_code(location):
    return int(borough_codes.loc[borough_codes["LocationID"] == int(location)]["Borough_code"].values[0])

#sdf.limit(1).withColumn("PU_borough_code", find_borough_code(col("PULocationID")))
sdf.withColumn("PU_borough_code", find_borough_code(col("PULocationID")))
sdf.withColumn("DO_borough_code", find_borough_code(col("DOLocationID")))

In [2]:
sdf

NameError: name 'sdf' is not defined

In [ ]:

bad_locations = [1,132,138,264,265]
#animals.count('Bird') > 0

@F.udf("boolean")
def bad_location(LocationID):
    return (int(LocationID) not in bad_locations)

In [ ]:
sdf = sdf.withColumn("filter",bad_location(col("PULocationID")))
sdf = sdf.filter(sdf["filter"] == False).drop("filter")


#df.filter(bad_location(col("PULocationID")))
sdf.filter(col("PULocationID")==1)

In [ ]:
sdf = sdf.filter(bad_location(col("PULocationID")))

In [ ]:
sdf.filter(col("DOLocationID")==1)

In [ ]:
sdf.limit(1).select("filter").collect()[0][0]==False

In [ ]:
spark.conf.set('spark.sql.execution.arrow.pyspark.enabled', True)

sdf2 = spark.read.csv(data_dir+file, header=True)

In [ ]:
sdf2.show(5)
sdf.count()

In [ ]:
#code from a spark matrix comparing dates with a schema


print(sdf.limit(1).select("lpep_pickup_datetime").collect()[0][0])
cdate = datetime.datetime.strptime(
    " ".join([str(int) for int in [2020,180,18]]), 
    "%Y %j %H")
print(cdate)
sdf.limit(1).select("lpep_pickup_datetime").collect()[0][0] > cdate

In [ ]:
#very inaccurate
start = time.perf_counter()
print(dfm[2019][ywl_i].approxQuantile("fare_amount", [0.01,.99], 0.01))
final = time.perf_counter() 
print(final - start)

#possibly accurate and same speed
start = time.perf_counter()
print(dfm[2019][ywl_i].approxQuantile("fare_amount", [0.01,.99], 0.001))
final = time.perf_counter() 
print(final - start)

#accureate same speed
start = time.perf_counter()
print(dfm[2019][ywl_i].approxQuantile("fare_amount", [0.01,.99], 0.0001))
final = time.perf_counter() 
print(final - start)

#very accurate and slightly slower
start = time.perf_counter()
print(dfm[2019][ywl_i].approxQuantile("fare_amount", [0.01,.99], 0.00001))
final = time.perf_counter() 
print(final - start)

#same as accuracy = 0
start = time.perf_counter()
print(dfm[2019][ywl_i].approxQuantile("fare_amount", [0.01,.99], 0.000001))
final = time.perf_counter() 
print(final - start)

#same as accuracy = 0
start = time.perf_counter()
print(dfm[2019][ywl_i].approxQuantile("fare_amount", [0.01,.99], 0.0000001))
final = time.perf_counter() 
print(final - start)

#like 3x as long
start = time.perf_counter()
print(dfm[2019][ywl_i].approxQuantile("fare_amount", [0.01,.99], 0))
final = time.perf_counter() 
print(final - start)